beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.5
click==8.0.1
Flask==2.0.1
future==0.18.2
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
line-bot-sdk==1.20.0
lxml==4.6.3
MarkupSafe==2.0.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.2
urllib3==1.26.6
webencodings==0.5.1
Werkzeug==2.0.1
zipp==3.5.0
